<div class="overflow-scroll h-screen">
  @if(store.loading()){
    <div class="overflow-hidden ">
      <div class="absolute text-center opacity-80 bg-white h-full w-1/2 justify-center">
        <app-spinner />
      </div>
    </div>
  }
  <div class="grid grid-cols-5" >
      @for (meal of store.mealsToDisplay(); track $index) {
          <div class="flex flex-col p-2 hover:cursor-pointer" (click)="store.mealSelected(meal.strMeal)">
              <img src="{{meal.strMealThumb}}" class="w-full h-auto" (load)="thumbLoaded()">
              <div class="text-center bg-gray-300 p-1">{{meal.strMeal}}</div>
          </div>
      }
  </div>
</div>